<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1A6B3C">

    {{ 'tailwind.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    <link rel="shortcut icon" href="{{ 'lami-treats-favicon.svg' | asset_url }}" type="image/svg+xml">

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged &ldquo;{{ current_tags | join: ', ' }}&rdquo;{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
  </head>

  <body class="font-body bg-white text-bark antialiased">
    {% section 'header' %}
    <main>
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
    <script src="{{ 'cart.js' | asset_url }}" async></script>
    <script src="{{ 'cart-notification.js' | asset_url }}" async></script>

    {% render 'checkout-scripts' %}
  </body>
</html>
